.game_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: black;
}

.game_div {
  aspect-ratio: 1/1;
  height: 50%;
}

.row_box {
  display: flex;
  width: 100%;
  height: 33%;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: #bc13fe;
}

.box:hover {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #bc13fe,
    0 0 0.5rem #bc13fe, 0 0 1.5rem #bc13fe;
}

.info_div {
  height: 30%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_box {
  display: flex;
  width: 70%;
  height: 60%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.player_div {
  display: flex;
  align-items: center;
  width: 100%;
}

.player_icon {
  height: var(--player-icon-size);
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem;
  color: white;
  line-height: normal;
}

.player_icon:hover {
  text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #bc13fe,
    0 0 0.5rem #bc13fe, 0 0 1.5rem #bc13fe;
}

.player_1 {
  background-color: #31cff7;
}

.player_2 {
  background-color: #f73169;
}

.player_text {
  color: white;
  text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe;
}

.button_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help_button {
  color: white;
  border: 0px solid white;
  border-radius: 100%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help_button:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe;
  text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe;
}

@media (min-width: 560px) {
  .game_div {
    height: 60%;
  }
}

@media (min-width: 740px) {
  .game_div {
    height: 70%;
  }
}

@media (min-width: 1024px) {
  .game_div {
    height: 90%;
  }

  .info_box {
    width: 60%;
  }
}
